
<p>   <%= @product.name %></p>
<% @product.images.all.each do |image| %>
<p><img src="<%= image.location %>" ></p>
<% end %>
<p>   <%= @product.description %></p>
<p> By:  <%= @product.supplier.name %></p>
<p> Price:  <%= number_to_currency(@product.price) %>  <%=@product.sale_message%></p>
<p> Tax:    $<%= @product.tax %></p>
<p> Total:  $<%= @product.total %></p>
<hr>
<%= form_tag "/cart", method: :post do%>
  <div>
    <h2>Add To Cart</h2>
    <p>Quantity:<input type="text" name="quantity" value="0"></p> 
    <p><input type="hidden" value="<%= @product.id %>" name="product_id" ></p>
    
  <input type="submit" value="Add To Cart">
  <%end%>

<hr>
<p><a href="/products">Return to All Products</a>
<hr>
<% if current_user && current_user.admin %>
  <p><a href="/products/<%=@product.id%>/edit">Edit Product</a></p>
  <%= form_tag "/products/#{@product.id}", method: :delete do %>
    <input type="submit" value="Delete Product">
  <% end %>
<% end %>  

