
<p>   <%= @product.image %></p>
<p>   <%= @product.name %></p>
<p>   $<%= @product.price %></p>
<p>   <%= @product.description %></p>

<%= form_tag "/products/#{@product.id}", method: :delete do %>
  <input type="submit" value="Delete Product">
<% end %>